
.support-section-list {
	margin-left: 0;
	list-style: none;

	.support-section {
		border-bottom: 1px solid #2B2B2B;
		margin-bottom: 20px;

		&:last-child {
			border-bottom: none;
		}

		.entry-meta {
			margin-bottom: 15px;
		}
	}

	.support-section-description p {
		margin-bottom: 8px;
	}

}


.ip-form {

	label {
		margin: 0 0 5px 0; 
		display: block;
	}

	input, select, button, textarea {
		margin: 0 0 20px 0;
		display: block;
	}

}

#ip-support-request-title {
	max-width: 400px;
}

#ip-support-request-description {
	max-width: 100%;
	max-height: 150px;
}

.ip-template-notice {
	background: #f9f4c7;
	border-radius: 3px;
	border: 1px solid #f4eb99;
	color: #2b2b2b;
	font-size: 90%;
	margin: .5em 0 1em;
	padding: 0 .8em;

	p {
		margin: 0.5em 0;
	}
}

.ip-error {
	background: #FAD9C8;
	border-color: #F5B89A;
}

.widget .ip-template-notice p {
	margin-bottom: .5em;
}
