.ip-alert {
  color: green;
  padding: 5px;
}

#toplevel_page_issuepress_options img {
	width: 16px;
	height: 16px;
	margin-top: 0; 
}

#toplevel_page_issuepress_options.current .wp-menu-image img {
  opacity: 1;
}

#issuepress-extensions-list {
  border-bottom: 1px solid #ccc;

  li.ip-extension-section {
    border-top: 1px solid #ccc;
  }


  .form-table {
    width: 90%;
    margin-left: 10%;
  }
}


#ip_support_meta_box label {
	margin-right: 10px;
}

#ip_support_page_options_nag {
	display: none;
}
