<section class="recent-activity">
  <div class="section-title">{{title}}</div>
  <div class="recent-activity-list">

    <div data-ng-show="isLoading">
      <h2>Loading...</h2>
    </div>

    <div data-ip-recent-activity-item  data-ng-repeat="item in items" data-ng-show="items.length && !isLoading"
      href="#/{{repo}}/{{item.issue.number}}"
      item="item"
      timeago="{{item.created_at}}">

      <div data-ip-recent-activity-item-meta><a href="#/{{repo}}/{{item.issue.number}}">{{item.actor.login}}</a> {{item.payload.action}} an issue in <a href="#/{{repo}}/">{{repo}}</a></div>
      <div data-ip-recent-activity-item-title href="#/{{repo}}/{{item.issue.number}}">{{item.issue.title}}</div>

    </div>

    <div data-ng-show="!items.length">
      <p>No Recent Activity</p>
    </div>

  </div>
</section>
