<section class="recent-activity">
  <div class="section-title">{{title}}</div>
  <div class="recent-activity-list">

    <div data-ng-show="isLoading">
      <h2>Loading...</h2>
    </div>

    <div data-ip-recent-activity-item  data-ng-repeat="item in items" data-ng-show="items.length && !isLoading && isNonRepoEvent(item)"
      href="{{getIPIssueLink(item)}}"
      item="item"
      timeago="{{item.created_at}}">

      <a data-ng-href="{{getIPIssueLink(item)}}" class="recent-activity-title">{{item.payload.issue.title}}</a>

      <div data-ip-recent-activity-item-meta >
        <p><strong>{{item.actor.login}}</strong> {{itemAction(item)}} | Section: <a data-ng-href="#/{{getIPRepo(item)}}/">{{getIPRepo(item)}}</a> | Last updated: {{item.payload.issue.updated_at | date:'MMM d, y'}}</p> 
      </div>

    </div>

    <div data-ng-show="!items.length">
      <p>No Recent Activity</p>
    </div>

  </div>
</section>
