* {
  @include box-sizing(border-box);
  position:relative;
}

a {
	color: $primary;

	&:hover {
		color: lighten($primary,15%);
	}
}

body {
  background:#e2e2e2;
}

.content {
  @extend .wrap-content;
}

.full-column {

}

.left-column {
  width:65%;
  float:left;

  .section-title {
    font-size:1.3em;
    font-weight:600;
    padding-bottom:.7em;
    border-bottom:.15em solid $border-color;
  }
}

.right-column {
  width:35%;
  float:left;
  padding-left:2.4em;

  .section-title {
    font-size:1.2em;
    font-weight:600;
    color:lighten($body-copy-color,25%);
    padding-bottom:.7em;
    border-bottom:.2em solid $border-color;
  }
}

.breadcrumb {
  margin-top:-.75em;
  margin-bottom:1.75em;

  a {
    color:$primary;
    text-decoration:none;
    padding-right:.75em;

    & + a {

      &:before {
        content:"";
        display:inline-block;
        border-left:.3125em solid lighten($body-copy-color,40%);
        border-top:.3125em solid transparent;
        border-bottom:.3125em solid transparent;
        height:0;
        width:0;
        padding-right:.75em;
      }
    }
  }
}

form {
  overflow:hidden;

  .parsley-error {
    border-color:$error-color;
  }

  .parsley-error-list {
    position:absolute;
    top:0;
    right:0;
    display:block;
    pointer-events:none;
    margin:0;
    padding:0;

    li {
      padding:.5em .8em;
      margin:.7em;
      border-radius:.2em;
      background:$error-color;
      font-size:.8em;
      font-weight:600;
      color:#fff;
    }
  }
}

.textbox {
  border-radius:.3em;
  border:.15em solid $border-color;
  display:block;
  width:100%;
  padding:.7em 1em;
  margin-bottom:1em;

  &:focus {
    outline:none;
    border-color:$outline-color;
  }
}

textarea {
  @extend .textbox;
  height:8em;
  resize:none;
}

.submit {
  border-radius:.3em;
  background:$primary;
  color:#fff;
  padding:.7em 1em;
  text-decoration:none;
  display:inline-block;
  border:0;
  float:right;
  margin-bottom:.01em;
}

section {
  margin-bottom:2.5em;
}

.create-issue {
  .section-title {
    margin-bottom:1.4em;
  }
}

.message {
  background: $message-color;
  border-radius:.3em;
  border:.15em solid darken($message-color,10%);
  padding:1.4em;
  text-align:center;
  color: $body-copy-color;

  .message-title {
    font-size:1.2em;
    font-weight:600;
    margin-bottom:.5em;
  }
}

.recent-activity {

  .recent-activity-item {
    overflow:hidden;
    border-bottom:.15em solid $border-color;
    padding:.8em 0;
    vertical-align:middle;

    .recent-activity-content {
      overflow:hidden;
    }

    .recent-activity-icon {
      margin-right:.8em;
      float:left;
      width:10%;

      img {
        width:100%;
        display:block;
      }

      & + .recent-activity-message {
        .recent-activity-title {
          margin-top:.55em;
        }
      }
    }

    .recent-activity-message {
      width:87%;

      p {
        margin:0;
        font-size:.9em;
        color:lighten($body-copy-color,25%);
      }
    }

    .recent-activity-title {
      font-size:1.1em;
      font-weight:600;
      line-height:1.2em;
      margin-bottom:.2em;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      display: block;

      & + .recent-activity-meta {
        margin:.5em 0 .5em 0;
      }
    }

    .recent-activity-meta {
      margin:0 0 .5em 0;
      color:lighten($body-copy-color,25%);
    }

    .recent-activity-timeago {
      display:block;
      font-size:.7em;
      font-weight: 400;
      color: $message-color;
      position:absolute;
      right:0;
      top:40%;
      margin-top:-.5em;
    }
  }

  a {
    //color:$primary;
    font-weight:600;
    text-decoration:none;
  }
}

.search {
  margin-bottom:2.5em;

  form {
    overflow:visible;
    z-index:1;
    position: relative;
  }

  .form-wrapper {
    @extend .clearfix;
    position: relative;
  }

  .textbox {
    z-index:1;
    margin:0;
    padding-right: 15%;
  }

  .submit {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 2;
    width: 80px;
  }

  .spinner {
    position: absolute;
    top: 11px;
    right: 94px;
    width: 24px;
    height: 24px;
    display: block;
    overflow: hidden;
    text-indent: -999em;
    z-index: 2;
    background: transparent url(../img/spinner.gif) no-repeat center center scroll;
  }


  .live-search-results {
    margin-top:-.15em;
    background-color: lighten($border-color,20%);
    border-radius:0 0 .3em .3em;
    border:.15em solid $border-color;
    display:block;
    width:100%;

    .live-search-results-header {
      padding:.7em 1em;
      border-top:.15em solid $border-color;
      border-bottom:.15em solid $border-color;
      background:#fff;
      font-weight:600;
      font-size:1.1em;
    }

    .live-search-message {
      @extend .message;
      border:none;
      background:transparent;
    }

    .issue-list-item {
      border:0;
      overflow:hidden;
      padding:.7em 1em;
      font-size:.9em;

      & + .issue-list-item {
        border-top:.15em solid $border-color;
      }

      .issue-title {
        float:left;
        font-size:1.1em;
        width:80%;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }

      .issue-date {
        float:left;
        color:lighten($body-copy-color,40%);
        font-size:.9em;
      }

      .issue-link {
        border-radius:.3em;
        background-color:$primary;
        color:#fff;
        padding:.7em 1em;
        font-size:.9em;
        text-decoration:none;
        display:inline-block;
        float:right;

        &:hover {
			background-color: lighten($primary,15%);
		}
      }
    }
  }
}

.support-sections {

  .section-nav {

    a {
      color:$body-copy-color;
      text-decoration:none;
      display:inline-block;
      border-bottom:.1em solid lighten($body-copy-color,40%);
      font-weight:600;
      margin:1em 1em .5em 0;
      font-size:.9em;
    }
  }

  /* add a bottom border to Section Repo only when it is in the left column */
  .left-column & .support-section {
	  border-bottom: .15em solid $border-color;
  }

  .support-section {
    display:block;
    text-decoration:none;
    padding:.7em 0;

    &:hover {


      .support-section-following {
	      background-color: lighten($primary,15%);
      }
    }

    .support-section-title {
      //color:$primary;
      font-weight:600;
    }

    .support-section-date {
      color: lighten($body-copy-color,25%);
      font-size:.8em;
    }

    .support-section-following {
      float:right;
      border-radius:.3em;
      background-color:$primary;
      color:#fff;
      padding:.7em 1em;
      font-size:.9em;
      text-decoration:none;
      display:inline-block;
    }
  }
}

.tickets-following {

  .ticket {
    display:block;
    text-decoration:none;
    border-bottom:.15em solid $border-color;
    padding:1em 0;

    .ticket-title {
      //color:$primary;
      font-weight:600;
      display:block;
      margin-bottom:.3em;
    }

    .ticket-meta {
      color:lighten($body-copy-color,40%);
      display:block;
      font-size:.9em;
      margin-bottom:.3em;
    }

    .ticket-comment {
      color: lighten($body-copy-color,15%);
      display:block;
      font-size:.9em;
    }
  }
}

.issue-thread {

  form.comment {
    overflow:hidden;

    .comment-content {
      padding:0;
    }
  }

  .comment {
    margin-bottom:1em;

    & + .comment {
      margin-left:4em;

      p {
        margin:1em 0;
      }
    }

    &.staff {
      margin-left:0;
      margin-right:4em;

      .comment-meta {
        overflow:hidden;
        margin-left:4em;
        margin-right:-4em;
      }

      .author {
        float:right;

        img {
          float:right;
          margin-left:1em;
          margin-right:0;
        }
      }

      .comment-timeago {
        float:left;
      }
    }

    .comment-meta {
      margin-bottom:.5em;
      height:3em;
    }

    .author {
      text-decoration:none;

      img {
        border-radius:100%;
        display:inline-block;
        vertical-align:top;
        margin-right:1em;
        width:3em;
      }
    }

    .author-name {
      color:$primary;
      top:1em;
    }

    .author-action {
      top:1em;
      color:$body-copy-color;
    }

    .comment-timeago {
      float:right;
      top:1em;
      color:lighten($body-copy-color,40%);
      text-decoration:none;
    }

    .comment-content {
      border-radius:.3em;
      background:#fafafa;
      border:.15em solid $border-color;
      padding:.4em 1.4em;
      margin-left:4em;
    }

    .textarea-wrap {
      margin-left:4em;
    }

    .comment-title {
      font-size:1.4em;
      font-weight:600;
      margin-top:.7em;
    }

    .comment-tags {
      margin-bottom:1em;

      a {
        text-decoration:none;
        color:$primary;
        font-weight:600;
        font-size:.8em;
        padding-right:.8em;
      }

      &:before {
        content:"\e70c";
        font-family:$icon;
        color:$border-color;
        top:.1em;
        position:relative;
        margin-right:.8em;
      }
    }

    .follow-thread {
      position:absolute;
      bottom:-.15em;
      right:-.15em;
      color:$body-copy-color;
      font-weight:600;
      font-size:.9em;
      text-decoration:none;
      padding:.75em 1.5em;
      background:lighten($primary,50%);
      border-radius:.3em 0 .3em 0;
      border-top:.15em solid lighten($primary,40%);
      border-left:.15em solid lighten($primary,40%);
      border:.15em solid lighten($primary,40%);
    }
  }
}

.issue-list {
  border-bottom:.15em solid $border-color;

  .issue-list-item {
    padding:1.4em 0;
    border-top:.15em solid $border-color;

    .issue-title {
      font-size:1.3em;
      font-weight:600;
      margin-bottom:.2em;
      color:$primary;
    }

    .issue-date {
      color:lighten($body-copy-color,40%);
      font-size:.9em;
      margin-bottom:.6em;
    }

    .issue-description {
      color: lighten($body-copy-color,15%);
      margin-bottom:1em;
    }

    .issue-link {
      border-radius:.3em;
      background-color:$primary;
      color:#fff;
      padding:.7em 1em;
      font-size:.9em;
      text-decoration:none;
      display:inline-block;

      &:hover {
	      background-color: lighten($primary,15%);
      }
    }
  }
}

.issue-listing-body {
  margin-bottom: 1em;
}

.state-open {
  @extend .submit;
  background: #6cc644;

  &:hover {
    background: #6cc644;
  }
}

.state-closed {
  @extend .submit;
  background: #bd2c00;

  &:hover {
    background: #bd2c00;
  }
}

.ip-widget-nav {
  font-size: .7em;
  float: right;
  position: relative;
  top: 8px;
}

.sort span {

  border-left: 1px solid #888888;
  color: #888888;
  cursor: pointer;
  font-weight: normal;
  padding: 0 5px 0 6px;


  &.current {
    font-weight: bold;
  }

  &:hover {
    text-decoration: underline;
  }

  &:first-child {
    border-left: none;
  }
}



/* .button {
	background-color: fuchsia;

	&:hover {
		background-color: lighten($primary,15%) !important;
	}
} */