.support-section-list {
  margin-left: 0;
  list-style: none;
}
.support-section-list .support-section {
  border-bottom: 1px solid #2B2B2B;
  margin-bottom: 20px;
}
.support-section-list .support-section:last-child {
  border-bottom: none;
}
.support-section-list .support-section .entry-meta {
  margin-bottom: 15px;
}
.support-section-list .support-section-description p {
  margin-bottom: 8px;
}

.ip-form label {
  margin: 0 0 5px 0;
  display: block;
}
.ip-form input, .ip-form select, .ip-form button, .ip-form textarea {
  margin: 0 0 20px 0;
  display: block;
}

#ip-support-request-title {
  max-width: 400px;
}

#ip-support-request-description {
  max-width: 100%;
  max-height: 150px;
}

.ip-template-notice {
  font-size: 90%;
  border: 1px solid #f4eb99;
  background: #f9f4c7;
  padding: 0 .8em;
  margin: .5em 0 1em;
  border-radius: 3px;
}
.ip-template-notice p {
  margin: 0.5em 0;
}

.ip-error {
  border-color: #F5B89A;
  background: #FAD9C8;
}
