* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  *behavior:url("/assets/css/boxsizing.htc");
  background-repeat:no-repeat;
  position:relative;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}