@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?4194279");
  src: url("../fonts/icons.eot?4194279#iefix") format('embedded-opentype'), url("../fonts/icons.woff?4194279") format('woff'), url("../fonts/icons.ttf?4194279") format('truetype'), url("../fonts/icons.svg?4194279#icons") format('svg');
  font-weight:normal;
  font-style:normal;
}

@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700";

$max-width:980px;
$primary:#936091;
$body-copy-color: #222;
$border-color: #c5c5c5;
$outline-color:#6cbce6;
$message-color: #fefdf5;
$error-color:#d74343;
$font:"Source Sans Pro";
$icon:"icons";

body,
input,
textarea {
  font-family:$font;
  color: $body-copy-color;
}

.wrap-content {
  max-width:$max-width;
  width:100%;
  padding:0 20px;
  margin:0 auto;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

