@import "compass/css3";
@import "normalize";
@import "base";
@import url(http://fonts.googleapis.com/css?family=Copse);

// Typography

$slab: "Copse";
$sans: "Helvetica","Arial",sans-serif;

// Width

$width-full:   750px;
$width-small:  (530px/$width-full) * 100%;
$width-medium: (600px/$width-full) * 100%;

// Colors

$accent-red:    #b08a8b;
$accent-yellow: #fce896;

@mixin commentBox($color,$arrow:"none") {
  border-radius:4px;
  margin:0 auto;
  padding:20px;
  background:$color;
  box-shadow:0 0 0 1px darken($color,40%) inset,
             0 0 0 5px adjust-saturation(darken($color,7%),-10%) inset,
             0 1px 1px rgba(darken($color,7%),.5);
  
  &:before,&:after,>:first-child:before {
   content:"";
   display:block;
   position:absolute;
   border-right:10px solid darken($color,40%);
   border-top:10px solid transparent;
   border-bottom:10px solid transparent;
   left:-10px;
   top:20px;
  }
  
  &:after {
   border-right-color:adjust-saturation(darken($color,7%),-10%);
   left:-9px;
  }
  
  >:first-child {
    position:static;
    
    &:before {
     left:-5px;
     border-right-color:$color;
     z-index:1;
    }
  }
  
  @if $arrow == "left" {
    &:before,&:after,>:first-child:before {
      left:-10px;
      right:auto;
      border-left:none;
      border-right:10px solid darken($color,40%)
    }
    
    &:after {
     border-right-color:adjust-saturation(darken($color,7%),-10%);
     left:-9px;
    }
    
    >:first-child {
      
      &:before {
       left:-5px;
       border-right-color:$color;
      }
    }
  }
  
  @elseif $arrow == "right" {
    &:before,&:after,>:first-child:before {
      left:auto;
      right:-10px;
      border-right:none;
      border-left:10px solid darken($color,40%)
    }
    
    &:after {
     border-left-color:adjust-saturation(darken($color,7%),-10%);
     right:-9px;
    }
    
    >:first-child {
      
      &:before {
       right:-5px;
       border-left-color:$color;
      }
    }
  }
  
  @elseif $arrow == "none" {
    &:before,&:after,>:first-child:before {display:none;}
  }
}

html {
  background:#f5f3f3;
}

body {
  max-width:$width-full;
  margin:0 auto;
  font-family:$slab;
}

.comment {
  margin-bottom:20px;
  
  &.first {
  
    .comment-meta {
      margin-bottom:10px;
    }
    
    .avatar-wrap {
      margin-right:10px;
      margin-top:9px;
      
      img {
        width:32px;
      }
    }
    
    .author,.post-date {
      font-size:15px;
      float:none;
      margin-right:10px;
    }
    
    .comment-body {
      width:$width-medium;
      @include commentBox(#fff);
      padding:30px 40px;
      
      h1 {
        font-family:$sans;
        font-size:25px;
        color:#3b3134;
        margin-top:0;
        margin-bottom:10px;
      }
      
      p {
        color:#393939;
        font-size:17px;
        margin-bottom:10px;
      }
      
      .tags {
        margin:0;
        padding:10px 0 0 0;
      
        li {
          display:inline;
          font-size:15px;
      
          + li:before {
            content:", ";
            color:$accent-red;
          }
      
          a {
            color:$accent-red;
            text-decoration:none;
          }
        }
      }
    }
  }
  
  .comment-meta {
    width:$width-small;
    margin:0 auto;
    height:50px;
    line-height:50px;
    font-size:15px;
    color:#4c4444;
  }
  
  .post-date {
    float:right;
    color:#aaa;
    font-size:12px;
  }
  
  .comment-body {
    @include commentBox(#fff,left);
    width:$width-small;
    
    p {
      font-size:15px;
      line-height:1.4em;
      margin:0;
      color:#231f20;
    }
  }
  
  .author {
    font-size:20px;
    
    a {
      border-bottom:1px solid #e2afd2;
      padding-bottom:3px;
      color:#4c4444;
      text-decoration:none;
    }
  }
  
  .avatar-wrap {
    float:left;
    line-height:40px;
    box-shadow:0 0 10px #000 inset;
    border-radius:50em;
    
    img {
      display:block;
      border-radius:50em;
      z-index:-1;
    }
  }
  
  &.staff {
  
    .comment-body {
      @include commentBox($accent-yellow,right); 
    }
    
    .avatar-wrap {
      float:right;
    }
  }
}