@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700";
/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?4194279");
  src: url("../fonts/icons.eot?4194279#iefix") format("embedded-opentype"), url("../fonts/icons.woff?4194279") format("woff"), url("../fonts/icons.ttf?4194279") format("truetype"), url("../fonts/icons.svg?4194279#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

body,
input,
textarea {
  font-family: "Source Sans Pro";
  color: #222222;
}

.wrap-content, .content {
  max-width: 980px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.clearfix:after, .search .form-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #936091;
}
a:hover {
  color: #b48cb2;
}

body {
  background: #e2e2e2;
}

.left-column {
  width: 65%;
  float: left;
}
.left-column .section-title {
  font-size: 1.3em;
  font-weight: 600;
  padding-bottom: .7em;
  border-bottom: 0.15em solid #c5c5c5;
}

.right-column {
  width: 35%;
  float: left;
  padding-left: 2.4em;
}
.right-column .section-title {
  font-size: 1.2em;
  font-weight: 600;
  color: #626262;
  padding-bottom: .7em;
  border-bottom: 0.2em solid #c5c5c5;
}

header {
  border-bottom: 0.2em solid #c5c5c5;
  margin-bottom: 2.5em;
  z-index: 1;
  padding: 2em 0;
}
header .logo {
  text-decoration: none;
  color: #626262;
  font-size: 2.2em;
  line-height: 1em;
  margin-right: .5em;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
header .logo.custom-image img {
  max-height: 65px;
}
header nav {
  display: inline-block;
  position: static;
  vertical-align: top;
}
header nav ul {
  margin: 0;
  padding: 0;
  position: static;
  list-style: none;
}
header nav li {
  display: inline-block;
}
header nav li.account {
  position: absolute;
  right: 0;
  top: 1.5em;
  padding-right: 0;
}
header nav li.account > a {
  padding: 1em 1.5em 1em 3.5em;
}
header nav li.account.active-user img {
  border-radius: 100%;
  width: 1.8em;
  height: 1.8em;
  margin-right: .5em;
  position: absolute;
  left: 1em;
  top: .7em;
  display: inline-block;
}
header nav li.account.active-user:hover > a {
  background: #fff;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1);
  border-radius: .25em .25em 0 0;
}
header nav li.account.active-user:hover ul {
  display: block;
}
header nav li.account.active-user > a:after {
  content: "";
  display: inline-block;
  border-top: 0.3125em solid #888888;
  border-left: .3125em solid transparent;
  border-right: .3125em solid transparent;
  width: 0;
  height: 0;
  margin-left: .5em;
  position: relative;
  top: -.1em;
}
header nav li ul {
  display: none;
  position: absolute;
  background: #fff;
  width: 125%;
  right: 0;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1);
  border-radius: .25em 0 .25em .25em;
  padding: .5em 0;
}
header nav li ul li {
  display: block;
  padding: 0;
}
header nav li ul a {
  padding: .5em 1em;
  font-size: .9em;
  font-weight: normal;
}
header nav a {
  text-decoration: none;
  color: #888888;
  font-weight: 600;
  display: block;
  padding: .5em 1em;
}

.breadcrumb {
  margin-top: -.75em;
  margin-bottom: 1.75em;
}
.breadcrumb a {
  color: #936091;
  text-decoration: none;
  padding-right: .75em;
}
.breadcrumb a + a:before {
  content: "";
  display: inline-block;
  border-left: 0.3125em solid #888888;
  border-top: .3125em solid transparent;
  border-bottom: .3125em solid transparent;
  height: 0;
  width: 0;
  padding-right: .75em;
}

form {
  overflow: hidden;
}
form .parsley-error {
  border-color: #d74343;
}
form .parsley-error-list {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  pointer-events: none;
  margin: 0;
  padding: 0;
}
form .parsley-error-list li {
  padding: .5em .8em;
  margin: .7em;
  border-radius: .2em;
  background: #d74343;
  font-size: .8em;
  font-weight: 600;
  color: #fff;
}

.textbox, textarea {
  border-radius: .3em;
  border: 0.15em solid #c5c5c5;
  display: block;
  width: 100%;
  padding: .7em 1em;
  margin-bottom: 1em;
}
.textbox:focus, textarea:focus {
  outline: none;
  border-color: #6cbce6;
}

textarea {
  height: 8em;
  resize: none;
}

.submit {
  border-radius: .3em;
  background: #936091;
  color: #fff;
  padding: .7em 1em;
  text-decoration: none;
  display: inline-block;
  border: 0;
  float: right;
  margin-bottom: .01em;
}

section {
  margin-bottom: 2.5em;
}

.create-issue .section-title {
  margin-bottom: 1.4em;
}

.message, .search .live-search-results .live-search-message {
  background: #fefdf5;
  border-radius: .3em;
  border: 0.15em solid #f9f4c7;
  padding: 1.4em;
  text-align: center;
  color: #222222;
}
.message .message-title, .search .live-search-results .live-search-message .message-title {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: .5em;
}

.recent-activity .recent-activity-item {
  overflow: hidden;
  border-bottom: 0.15em solid #c5c5c5;
  padding: .8em 0;
  vertical-align: middle;
}
.recent-activity .recent-activity-item .recent-activity-content {
  overflow: hidden;
}
.recent-activity .recent-activity-item .recent-activity-icon {
  margin-right: .8em;
  float: left;
  width: 10%;
}
.recent-activity .recent-activity-item .recent-activity-icon img {
  width: 100%;
  display: block;
}
.recent-activity .recent-activity-item .recent-activity-icon + .recent-activity-message .recent-activity-title {
  margin-top: .55em;
}
.recent-activity .recent-activity-item .recent-activity-message {
  width: 87%;
}
.recent-activity .recent-activity-item .recent-activity-message p {
  margin: 0;
  font-size: .9em;
  color: #626262;
}
.recent-activity .recent-activity-item .recent-activity-title {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: .2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.recent-activity .recent-activity-item .recent-activity-title + .recent-activity-meta {
  margin: .5em 0 .5em 0;
}
.recent-activity .recent-activity-item .recent-activity-meta {
  margin: 0 0 .5em 0;
  color: #626262;
}
.recent-activity .recent-activity-item .recent-activity-timeago {
  display: block;
  font-size: .7em;
  font-weight: 400;
  color: #fefdf5;
  position: absolute;
  right: 0;
  top: 40%;
  margin-top: -.5em;
}
.recent-activity a {
  font-weight: 600;
  text-decoration: none;
}

.search {
  margin-bottom: 2.5em;
}
.search form {
  overflow: visible;
  z-index: 1;
  position: relative;
}
.search .form-wrapper {
  position: relative;
}
.search .textbox, .search textarea {
  z-index: 1;
  margin: 0;
  padding-right: 15%;
}
.search .submit {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 2;
  width: 80px;
}
.search .spinner {
  position: absolute;
  top: 11px;
  right: 94px;
  width: 24px;
  height: 24px;
  display: block;
  overflow: hidden;
  text-indent: -999em;
  z-index: 2;
  background: transparent url(../img/spinner.gif) no-repeat center center scroll;
}
.search .live-search-results {
  margin-top: -.15em;
  background-color: #f8f8f8;
  border-radius: 0 0 .3em .3em;
  border: 0.15em solid #c5c5c5;
  display: block;
  width: 100%;
}
.search .live-search-results .live-search-results-header {
  padding: .7em 1em;
  border-top: 0.15em solid #c5c5c5;
  border-bottom: 0.15em solid #c5c5c5;
  background: #fff;
  font-weight: 600;
  font-size: 1.1em;
}
.search .live-search-results .live-search-message {
  border: none;
  background: transparent;
}
.search .live-search-results .issue-list-item {
  border: 0;
  overflow: hidden;
  padding: .7em 1em;
  font-size: .9em;
}
.search .live-search-results .issue-list-item + .issue-list-item {
  border-top: 0.15em solid #c5c5c5;
}
.search .live-search-results .issue-list-item .issue-title {
  float: left;
  font-size: 1.1em;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search .live-search-results .issue-list-item .issue-date {
  float: left;
  color: #888888;
  font-size: .9em;
}
.search .live-search-results .issue-list-item .issue-link {
  border-radius: .3em;
  background-color: #936091;
  color: #fff;
  padding: .7em 1em;
  font-size: .9em;
  text-decoration: none;
  display: inline-block;
  float: right;
}
.search .live-search-results .issue-list-item .issue-link:hover {
  background-color: #b48cb2;
}

.support-sections {
  /* add a bottom border to Section Repo only when it is in the left column */
}
.support-sections .section-nav a {
  color: #222222;
  text-decoration: none;
  display: inline-block;
  border-bottom: 0.1em solid #888888;
  font-weight: 600;
  margin: 1em 1em .5em 0;
  font-size: .9em;
}
.left-column .support-sections .support-section {
  border-bottom: 0.15em solid #c5c5c5;
}
.support-sections .support-section {
  display: block;
  text-decoration: none;
  padding: .7em 0;
}
.support-sections .support-section:hover .support-section-following {
  background-color: #b48cb2;
}
.support-sections .support-section .support-section-title {
  font-weight: 600;
}
.support-sections .support-section .support-section-date {
  color: #626262;
  font-size: .8em;
}
.support-sections .support-section .support-section-following {
  float: right;
  border-radius: .3em;
  background-color: #936091;
  color: #fff;
  padding: .7em 1em;
  font-size: .9em;
  text-decoration: none;
  display: inline-block;
}

.tickets-following .ticket {
  display: block;
  text-decoration: none;
  border-bottom: 0.15em solid #c5c5c5;
  padding: 1em 0;
}
.tickets-following .ticket .ticket-title {
  font-weight: 600;
  display: block;
  margin-bottom: .3em;
}
.tickets-following .ticket .ticket-meta {
  color: #888888;
  display: block;
  font-size: .9em;
  margin-bottom: .3em;
}
.tickets-following .ticket .ticket-comment {
  color: #484848;
  display: block;
  font-size: .9em;
}

.issue-thread form.comment {
  overflow: hidden;
}
.issue-thread form.comment .comment-content {
  padding: 0;
}
.issue-thread .comment {
  margin-bottom: 1em;
}
.issue-thread .comment + .comment {
  margin-left: 4em;
}
.issue-thread .comment + .comment p {
  margin: 1em 0;
}
.issue-thread .comment.staff {
  margin-left: 0;
  margin-right: 4em;
}
.issue-thread .comment.staff .comment-meta {
  overflow: hidden;
  margin-left: 4em;
  margin-right: -4em;
}
.issue-thread .comment.staff .author {
  float: right;
}
.issue-thread .comment.staff .author img {
  float: right;
  margin-left: 1em;
  margin-right: 0;
}
.issue-thread .comment.staff .comment-timeago {
  float: left;
}
.issue-thread .comment .comment-meta {
  margin-bottom: .5em;
  height: 3em;
}
.issue-thread .comment .author {
  text-decoration: none;
}
.issue-thread .comment .author img {
  border-radius: 100%;
  display: inline-block;
  vertical-align: top;
  margin-right: 1em;
  width: 3em;
}
.issue-thread .comment .author-name {
  color: #936091;
  top: 1em;
}
.issue-thread .comment .author-action {
  top: 1em;
  color: #222222;
}
.issue-thread .comment .comment-timeago {
  float: right;
  top: 1em;
  color: #888888;
  text-decoration: none;
}
.issue-thread .comment .comment-content {
  border-radius: .3em;
  background: #fafafa;
  border: 0.15em solid #c5c5c5;
  padding: .4em 1.4em;
  margin-left: 4em;
}
.issue-thread .comment .textarea-wrap {
  margin-left: 4em;
}
.issue-thread .comment .comment-title {
  font-size: 1.4em;
  font-weight: 600;
  margin-top: .7em;
}
.issue-thread .comment .comment-tags {
  margin-bottom: 1em;
}
.issue-thread .comment .comment-tags a {
  text-decoration: none;
  color: #936091;
  font-weight: 600;
  font-size: .8em;
  padding-right: .8em;
}
.issue-thread .comment .comment-tags:before {
  content: "\e70c";
  font-family: "icons";
  color: #c5c5c5;
  top: .1em;
  position: relative;
  margin-right: .8em;
}
.issue-thread .comment .follow-thread {
  position: absolute;
  bottom: -.15em;
  right: -.15em;
  color: #222222;
  font-weight: 600;
  font-size: .9em;
  text-decoration: none;
  padding: .75em 1.5em;
  background: #faf8fa;
  border-radius: .3em 0 .3em 0;
  border-top: 0.15em solid #e6d9e6;
  border-left: 0.15em solid #e6d9e6;
  border: 0.15em solid #e6d9e6;
}

.issue-list {
  border-bottom: 0.15em solid #c5c5c5;
}
.issue-list .issue-list-item {
  padding: 1.4em 0;
  border-top: 0.15em solid #c5c5c5;
}
.issue-list .issue-list-item .issue-title {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: .2em;
  color: #936091;
}
.issue-list .issue-list-item .issue-date {
  color: #888888;
  font-size: .9em;
  margin-bottom: .6em;
}
.issue-list .issue-list-item .issue-description {
  color: #484848;
  margin-bottom: 1em;
}
.issue-list .issue-list-item .issue-link {
  border-radius: .3em;
  background-color: #936091;
  color: #fff;
  padding: .7em 1em;
  font-size: .9em;
  text-decoration: none;
  display: inline-block;
}
.issue-list .issue-list-item .issue-link:hover {
  background-color: #b48cb2;
}

/* .button {
	background-color: fuchsia;

	&:hover {
		background-color: lighten($primary,15%) !important;
	}
} */
