<section id="comment-form">

  <div class="comment" data-ng-if="!hasUser()">
    <h3>You must <a href="{{loginLink}}">sign in</a> to submit a new request.</h3>
  </div>

  <form data-ng-submit="submitForm()" name="commentForm" novalidate class="comment new-comment">

    <div data-ng-if="hasUser()  && !formSubmitted">

      <fieldset class="textarea-wrap">
        <textarea class="required" required name="body" data-ng-model="comment.body" placeholder="Leave a comment"></textarea>
        <p ng-show="commentForm.body.$invalid && !commentForm.body.$pristine" class="help-block">Please enter a comment.</p>
      </fieldset>

      <div class="comment-meta">
        <div class="author">
          <div data-gravatar-image gravatar-hash="{{user.gravatar_id}}" s="34"></div>
          <span class="author-action">Logged in as</span>
          <span class="author-name">{{user.display_name}}</span>
        </div>
      </div>

      <input type="hidden" name="meta" data-ng-model="comment.meta" />
      <input ng-disabled="commentForm.$invalid" type="submit" class="submit" value="Post Comment"/>
    </div>

    <div data-ng-if="formSubmitted">
      <h2>Your request has been submitted.</h2>
    </div>

  </form>

</section>
