<div>

  <div class="comment" data-ng-if="!user"><h3>You must <a href="{{login_link}}">login</a> to comment!</h3></div>

  <form class="comment new-comment" data-ng-if="user">
    <div class="comment-meta">
      <a href="" class="author">
        <div data-gravatar-image gravatar-hash="{{user.gravatar_id}}" s="300"></div>
        <span class="author-action">Logged in as</span>
        <span class="author-name">{{user.display_name}}</span>
      </a>
      <!--
      <a href="{{logout_link}}" class="comment-timeago">Logout</a>
      -->
    </div>
    <div class="textarea-wrap">
      <textarea placeholder="Leave a comment"></textarea>
    </div>
    <input type="submit" class="submit" value="Post Comment"/>
  </form>

</div>
