<div>

  <div class="comment" data-ng-if="!user"><h3>You must <a href="#">login</a> to comment!</h3></div>

  <form class="comment new-comment" data-ng-if="user">
    <div class="comment-meta">
      <a href="" class="author">
        <img src="https://secure.gravatar.com/avatar/4e7025ec1de9ec52b819278def51a13a?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
        <span class="author-action">Logged in as</span>
        <span class="author-name">{{user}}</span>
      </a>
      <a href="" class="comment-timeago">Logout</a>
    </div>
    <div class="textarea-wrap">
      <textarea placeholder="Leave a comment"></textarea>
    </div>
    <input type="submit" class="submit" value="Post Comment"/>
  </form>

</div>
