
<section class="search">
  <form>
    <input data-ng-model="q" class="textbox" type="text" placeholder="Search"/>
    <span data-ng-show="isSearching" class="spinner">Searching</span>
    <div class="live-search-results" data-ng-show="searchComplete">

      <div data-ng-show="!hasResults" class="live-search-message">
        <div class="message-title">
          No Results
        </div>
        <div class="message-content">
          Aww shucks, nothing was found. <br>Try updating your search term, or visiting a <a href="#/sections">section</a>.
        </div>
      </div>

      <!-- 

            Implement Fuzzy Filter for Support Sections without API 

      <div class="live-search-results-header">
        Support Sections
      </div>
      <div class="issue-list-item">
        <a href="" class="issue-link">Open Section</a>
        <div class="issue-title">
          Issue with the Music Player for the homepage on Garage Band
        </div>
        <div class="issue-date">
          Last Updated: December 27, 2012
        </div>
      </div>
      <div class="issue-list-item">
        <a href="" class="issue-link">Open Section</a>
        <div class="issue-title">
          Issue with the Music Player for the homepage on Garage Band
        </div>
        <div class="issue-date">
          Last Updated: December 27, 2012
        </div>
      </div>

      -->

      <div data-ng-show="hasResults" class="live-search-results-header">
        Issues
      </div>
      <div class="issue-list-item" data-ng-repeat="result in results">
        <a data-ng-href="#/{{getRepoFromResult(result.url)}}/{{result.number}}" class="issue-link">Open</a>
        <div class="issue-title">
          {{result.title}}
        </div>
        <div class="issue-date">
          Last Updated: {{result.updated_at | date:'MMM d, y'}}
        </div>
      </div>
    </div>
  </form>
</section>
