<section class="issue-listing-widget ip-widget recent-activity">
  <div class="section-title clearfix">
    {{title}}
    <div data-ng-show="items.length && !isLoading" class="sort ip-widget-nav">
      <span data-ng-click="setFilter('all')" data-ng-class="{'current': filterBy == 'all' }">View All</span>
      <span data-ng-click="setFilter('open')" data-ng-class="{'current': filterBy == 'open' }">Open</span>
      <span data-ng-click="setFilter('closed')" data-ng-class="{'current': filterBy == 'closed' }">Resolved</span>
    </div>
  </div>
  <div class="issue-listing-list recent-activity-list">

    <div data-ng-show="isLoading" class="loading">
      <h2>Loading...</h2>
    </div>

    <div data-ng-repeat="item in filteredItems" data-ng-show="filteredItems.length && !isLoading" class="recent-activity-item">
      <div class="recent-activity-message">
        <a class="recent-activity-title" data-ng-href="#/{{repo}}/{{item.number}}">#{{item.number}} {{item.title}}</a>
        <p class="issue-listing-body">{{item.body | truncate:135}}</p>
        <footer class="recent-activity-meta">updated on {{item.updated_at | date:'MMM d, y'}}</footer>
      </div>

      <span class="recent-activity-timeago state-{{item.state}}">{{item.state}}</span>
    </div>

    <div data-ng-show="!filteredItems.length">
      <p data-ng-show="filterBy === 'all'">No items</p>
      <p data-ng-show="filterBy === 'open'">There are no open items</p>
      <p data-ng-show="filterBy === 'closed'">There are no resolved items</p>
    </div>

  </div>
</section>
