<section class="issue-listing-widget ip-widget recent-activity">
  <div class="section-title clearfix">
    {{title}}
    <div data-ng-show="items.length && !isLoading" class="sort ip-widget-nav">
      <span class="current" href="#">View All</span>
      <span href="#">Open</span>
      <span href="#">Closed</span>
    </div>
  </div>
  <div class="issue-listing-list recent-activity-list">

    <div data-ng-show="isLoading">
      <h2>Loading...</h2>
    </div>

    <div data-ng-repeat="item in items" data-ng-show="items.length && !isLoading" class="recent-activity-item"> 
      <div class="recent-activity-message">
        <a class="recent-activity-title" data-ng-href="#/{{repo}}/{{item.number}}">#{{item.number}} {{item.title}}</a>
        <div class="issue-listing-body">{{item.body}}</div>
        <footer class="recent-activity-meta">Last updated: {{item.updated_at | date:'MMM d, y'}}</footer>
      </div>

      <span class="recent-activity-timeago state-{{item.state}}">{{item.state}}</span>
    </div>

    <div data-ng-show="!items.length">
      <p>No Recent Activity</p>
    </div>

  </div>
</section>
